@tailwind base;
@tailwind components;
@tailwind utilities;

/* */

.main-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  border-radius: 16px;
}

.expanded {
  grid-row: span 2;
}

@media screen and (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 100vw;
    height: 100vh;
  }

  .div1 {
    grid-area: 1 / 1 / 4 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 4;
  }
  .div3 {
    grid-area: 2 / 2 / 4 / 4;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .div5 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .div6 {
    grid-area: 1 / 4 / 3 / 5;
  }
  .div7 {
    grid-area: 3 / 4 / 4 / 5;
  }
  .div8 {
    grid-area: 4 / 4 / 5 / 5;
  }
}

@media screen and (min-width: 768px) {
  .div3 img,
  .div4 img,
  .div5 img,
  .div6 img,
  .div7 img,
  .div8 img {
    transition: transform 0.5s ease-in-out;
  }

  .div4:hover img,
  .div5:hover img,
  .div6:hover img,
  .div7:hover img,
  .div8:hover img {
    transform: scale(1.2);
  }
  .div3:hover img {
    transform: scale(1.4);
  }
}
