@tailwind base;
@tailwind components;
@tailwind utilities;

/* */

.main-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100vh;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8{
    border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 100vw;
    height: 100vh;
  }

  .div1 {
    grid-area: 1 / 1 / 4 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 4;
  }
  .div3 {
    grid-area: 2 / 2 / 4 / 4;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .div5 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .div6 {
    grid-area: 1 / 4 / 3 / 5;
  }
  .div7 {
    grid-area: 3 / 4 / 4 / 5;
  }
  .div8 {
    grid-area: 4 / 4 / 5 / 5;
  }
}

/* footer */

.footer-display{
  border: 2px solid white;
}

@media screen and (min-width: 768px){
    .footer-display{
        position: fixed;
        right: 16px;
        bottom: 16px;
        width: calc(25% - 18px);
    }
}